:root {
  --width-sidebar: 250px;
}

.layout {
  height: 100vh;
  width: 100vw;
}

.color-background {
  background: rgb(167, 165, 186);
  background: linear-gradient(90deg, rgba(167, 165, 186, 1) 0%, rgba(218, 215, 255, 1) 30%, rgba(58, 202, 231, 1) 100%);
  width: 130%;
  height: 27vw;
  top: -9vh;
  left: -10%;
  transform: rotate(-5deg);
}

/* Sidebar */
.sidebar {
  width: var(--width-sidebar);
  background-color: rgb(233 238 243);
}

.page-link {
  cursor: pointer;
  transform: .25s ease;
}

.page-link:hover {
  opacity: .8;
}

/* Content */
.page-content {
  width: calc(100% - var(--width-sidebar));
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.page-content > div:not(.color-backgorund) {
  z-index: 2;
}

/* Metric */
.metric {
  min-width: 260px;
}

/* Utils */
.body {
  font-size: 1em;
}

.body-s {
  font-size: 0.875em;
}

.body-xs {
  font-size: 0.75em;
}

[data-type="pie"] > div {
  margin-top: -1em;
}

.nav-link.active {
  background-color: rgb(146, 195, 247)!important;
}

@media print {
  .noprint {
     display: none !important;
  }
}